/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #E6DCB3;
  color: black;
}

.button, .dropdown-menu {
  margin: 10px auto;
}

#right-nav button, #left-nav button {
  margin: 0 10px;
}

.btn {
  color: white;
}

.navbar {
  background-color: #4D1919;
  color: white;
}

.navbar h1 {
  color: #E79C39;
}

.navbar .btn {
  background-color: #C9AF5E;
}

.navbar-header {
  text-align: center;
}

#dropdowns .btn, #player .btn, #cheeses .btn {
  background-color: #4D1919;
}

.cheese:nth-of-type(-n + 2) {
  margin-top: 4px;
}

.cheese:nth-of-type(n + 3) {
  margin-top: 60px;
}

.dropdown {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}

.dropdown ul {
  text-align: center !important;
}

.button, .dropdown-menu{
  margin:10px auto;
}

.dropdown-menu{
  width:200px;
  left:50%;
  margin-left:-100px;
}

#dropdowns, #tasted-top, #login{
  height: 120px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

#dropdowns p {
  text-align: center;
  margin-top: 10px;
}
