
<!-- <div class="dropdown col-md-6">
  <button
    class="btn btn-default dropdown-toggle"
    type="button"
    id="drodpwonMenu1"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="true"
  >

  >
  Animal
  </button>
  <ul
    className="drodown-menu dropdown-right"
    aria-labelledby="dropdownMenu1"
  >
    <li>
      <a href="#">Cow</a>
    </li>
    <li>
      <a href="#">Sheep</a>
    </li>
    <li>
      <a href="#">Goat</a>
    </li>
    <li>
      <a href="#">Buffalo</a>
    </li>
  </ul>
</div> -->

<div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    Animal <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem"><a class="dropdown-item" href="#" #cow (click)="this.APISearch.animalSearch('cow', $event)">Cow</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#" #goat (click)="this.APISearch.animalSearch('goat', $event)">Goat</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#" #sheep (click)="this.APISearch.animalSearch('sheep', $event)">Sheep</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#" #buffalo (click)="this.APISearch.animalSearch('buffalo', $event)">Buffalo</a>
    </li>
  </ul>
</div>
