<div class="col-md-8" id="tasted-main">
  <div class="col-md-3 removed-cheese">
    <div>Cheddar</div>
    <img
      src='/assets/img/cheese-icon.png'
      alt="removed-cheese"
    />
  </div>
  <div class="col-md-3 removed-cheese">
    <div>Manchego</div>
    <img
      src='/assets/img/cheese-icon.png'
      alt="removed-cheese"
    />
  </div>
  <div class="col-md-3 removed-cheese">
    <div>Munster</div>
    <img
      src='/assets/img/cheese-icon.png'
      alt="removed-cheese"
    />
  </div>
  <div class="col-md-3 removed-cheese">
    <div>Yarlsberg</div>
    <img
      src='/assets/img/cheese-icon.png'
      alt="removed-cheese"
    />
  </div>

</div>
